
mat-dialog-content {
  font-size: 16px;
  padding: 16px;
  text-align: center;
  background-color: #f5f0ff;
}

mat-dialog-actions {
  justify-content: center;
  padding: 16px;
  background-color: #f5f0ff;
}

button.mat-button {
  background-color: #bbb;
  color: #333;
  margin-right: 8px;
}

button.mat-button.mat-dialog-close {
  background-color: #6a5acd;
  color: #fff;
}

button.mat-button:hover {
  filter: brightness(0.9);
}
